.new_task {
  width: 500px;
  height: auto;
  margin: 5% auto;
  outline: none;
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
}

.new_task_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input_form {
  margin-bottom: 20px!important;
}
